div(class="panel panel-default")
	div(class="panel-headding") #{title}
	div(class="panel-body")
		table(class="table")
			tr
				th Mensajes
				th Lista
			tr
				td
					ul#mensajes
				td
					ul#usuarios
	div(class="panel-footer")
		input(type="text",class="form-control",placeholder="Mensajes aqui" id="menvio")